.gallery {
  display: flex;
  flex-wrap: wrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo-card {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6),
    23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.photo-card:hover {
  transform: scale(1.05);
}
.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.stats-item i {
  margin-bottom: 5px;
  color: #36454f;
}
